.modal-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

.modal-content {
  background: #fff;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 0 10px #fff;
  position: relative;
  min-width: 300px;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal-content {
  animation: modal .3s ease-out;
}

.fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
  background: #e54;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
}

.modal-content label {
  display: block;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: bold;
}

.modal-content input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 3px 0 10px 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
}

.modal-content input:focus {
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

.modal-content button[type="submit"] {
  display: block;
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background: #e54;
  color: #fff;
  font-family: "IMB Plex Mono", monospace;
  font-weight: bold;
  font-size: 14px;
}